<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <a href="#" style="display: flex;">
      <img src="https://feedc.com/assets/images/logo.svg" alt="" style="margin-right: 10px;">
      <img src="https://feedc.com/assets/images/feedc.svg" alt="">
    </a>
    <form class="search-form">
      <input type="text" class="search-input" placeholder="ძებნა">
    </form>
  </mat-toolbar-row>
</mat-toolbar>
<br>
<editor  style="width: 30%;margin: auto;" [init]="{
  height: 500,
  menubar: true,
  plugins: [
    'advlist autolink lists link image charmap print preview anchor',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table paste code help wordcount'
  ],
  toolbar:
    'undo redo | formatselect | bold italic backcolor | \
    alignleft aligncenter alignright alignjustify | \
    bullist numlist outdent indent | removeformat | help'
}"></editor>
<br>
<router-outlet></router-outlet>
